* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-image {
  border-radius: 10px;
}

/* Navbar */


.custom-navbar {
    background-color: rgba(75, 167, 207, 0.806);
}

.nav-link.active {
    background-color: rgb(116, 186, 159);
}

/* Portfolio */

.wrapper-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

.project-card:hover {
  transform: rotate(2deg);
  box-shadow: rgb(116, 186, 159);
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(105, 89, 89, 0); 
}

.card-title {
  background-color: rgba(116, 186, 159, 0.445);
  border-radius: 10px; 
}

.card-title h4 {
  color: whitesmoke;
  background-color: transparent;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-title p {
  color: whitesmoke;
  background-color: transparent;
  margin-left: 10px;
}

.card-title a {
  background-color: transparent;
  color: rgba(75, 167, 207, 0.806); 
  margin-top: 10px;
  display: inline-block;
  justify-content: end;
}

.card-title a:hover {
  color: #000; 
}

/* Resume */

ul {
    list-style: none;
}

/* Contact */

.submitBtn {
  background-color: rgb(116, 186, 159);
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
}

.text-warning {
    color: red;
}

/* Footer Links */

.footer-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .icon-links {
    display: flex;
    align-items: center;
  }
  
  .icon-link {
    margin: 0 10px; 
  }
  
.icon-links a:hover .icon-link {
    transform: rotate(5deg);
  }

@media screen and (max-width: 600px) {
  .custom-navbar {
    /* Example: Make the Navbar display as a flex container */
    display: flex !important;
    flex-direction: column !important; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .nav-link {
    /* Example: Decrease font size */
    font-size: 14px !important;
    padding: 20px 0 !important;
  }

  .hamburger-menu {
    /* Example: Show the hamburger menu icon */
    display: block;
  }

  /* Hide regular navigation links on smaller screens */
  /* .nav-link {
    display: none;
  } */
}